<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="profile-container">
    <div *ngIf="userInfo.loginstatus == 1" class="userprofile">
    <div class="profile-header">
      <div class="profile-image"> 
        <img *ngIf="userInfo.photo" [src]="userInfo.photo" alt="User Photo" class="profile-image">
      </div>
      <div class="profile-info">
        <h2 class="profile-name">{{userInfo.firstname}} {{userInfo.lastname}}</h2>
        <p class="profile-email">{{userInfo.email}}</p>
      </div>
    </div>

    <ion-list class="profile-options">
      <ion-item button detail="true" routerLink="/pages/cart">
        <ion-icon name="cart" slot="start" ></ion-icon>
        <ion-label>
          <h3>My Orders</h3>
          
        </ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="openAddressChange()">
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label>
          <h3>Shipping Addresses</h3>
          
        </ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="openPaymentMethodChange()">
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-label>
          <h3>Payment Methods</h3>
          
        </ion-label>
      </ion-item>
      <ion-item button detail="true" (click)="openSettings()">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>
          <h3>Change Password</h3>
         
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button  class="logout-button" (click)="logout()" expand="block" fill="outline" shape="round">
      Log Out
    </ion-button>
  </div>
  <div *ngIf="userInfo.length == 13" class="container">
    <div class="icon-inner">
      <img class="no-user-icon" slot="icon-only" src="assets/download.png"/>
    </div>
    <p class="one">No user logged in</p>
    <p class="two">Log in to continue</p>
    <ion-button class="login-button" routerLink="/login" expand="block">
      Log In
    </ion-button>
  </div>
  
  
  </div>
</ion-content>
