<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-border" [fullscreen]="true">

  <ion-grid class="category-grid">
    <ion-row class="ion-align-items-center">
      <ion-col size="3" size-md="3" *ngFor="let category of categories">
        <div class="category-card" animated="true">
          <img class="category-avatar" [src]="category.img" alt="{{category.name}}" />
          <div class="category-title">{{category.name}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>














