<ion-header  class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="ctgname">{{ctgname}}</ion-title>

    
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="sortby">
    <div class="filt-box" slot="end">
      <ion-icon  class ="filter" src="assets/sort.svg" (click)="openModal()"></ion-icon> <div >Filter</div>
    </div>
    
  </ion-item>
  
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" >
    <ng-template class="block">
     
      <div class="block">
        <div class="modal-title">Filter</div>
        <div class="filt">
          <div class="filter-title">Price Range </div>
          <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" 
          [(ngModel)]="priceRange" (ionChange)="onPriceRangeChange($event)"
          ></ion-range>
        </div>
        
      
        <div class="filt">
          <div class="filter-title">Sort By </div>
          <div class="scroll" >
            <div class="catname" *ngFor="let option of sortingOptions" (click)="selectedSort = option.value" [ngClass]="{'selected-filter': selectedSort === option.value}">
              <div>
                {{ option.label }}
              </div>
            </div> 
          </div>
        </div>
        <div class="filt">
          <div class="filter-title">Brand</div>
          <div class="scroll" >
            <div class="catname"  *ngFor="let brand of options.brands" (click)="selectedBrand = brand"  [ngClass]="{'selected-filter': selectedBrand === brand}">
              <div>
                {{brand}}
              </div>   
              
            </div>
          </div>
        </div>
        <div class="filt">
          <div class="filter-title">Origin</div>
          <div class="scroll" >
            <div class="catname"  *ngFor="let origin of options.origins" (click)="selectedOrigin = origin"  [ngClass]="{'selected-filter': selectedOrigin === origin}">
              <div>
                {{origin}}
              </div>
                
            </div>
          </div>
        </div>
        <div class="btn">
          <div class="apply-btn">
            
            <ion-button class=""  expand="block"(click)="applyFilters()">
              Apply
            </ion-button>
          </div>
          <div class="apply-btn">
            <ion-button expand="block" (click)="resetFilters()">Reset</ion-button>
          </div>
        </div>

        
      </div>
    </ng-template>
    
  </ion-modal>
 
  <ion-grid >
    <ion-row *ngIf="!isLoading" class="ion-align-self-center">
      <ion-col size-s="3" size-md="3"  *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
        <div  class="skelItem" >
          <ion-skeleton-text animated class="skeleton-image"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </div>
        
      </ion-col>
    </ion-row>  
    <ion-row *ngIf="isLoading">
      <ion-col size-s="3" size-md="3"  *ngFor="let product of products">

        <app-product-card  [item]="product" [style]="'main'"></app-product-card>
      </ion-col>
    </ion-row>
      
    
   
  </ion-grid>
 
</ion-content>
