ion-col{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skelItem{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.skeleton-image{
    height: 11rem;
    width:  10.5rem;
    border-radius: 20px;
}
.block{
    padding: 25px;
}
ion-modal{
    --border-radius: 15px;
    --height: auto;
}
ion-list{
    padding-bottom: 15px;
    padding-top: 15px;
}
.modal-title{
    text-align: center;
    font-family: "rubik-medium";
    font-size: 18px;
    padding-top: 20px;
   
}


.selected-filter {

    div{
        background-color: #185951 !important;
    }
    
}
   
.sortby{
    color: #262626;
    font-weight: bold;
    ion-icon {
        font-size: 20px;
        
    }
    
    > div{
        font-size: 18px;
        padding-left: 8px;
      
    }
}

.filt-box{
    display: flex;
    gap: 7px;
    padding: 15px;
}
.filt{
    padding-bottom: 20px;
}
.filter-title{
    font-size: 20px;
    padding-bottom: 15px;
}
.scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  
}
.catname{
    flex: 0 0 auto;
    padding-right: 20px;

    div{
        height: 35px;
        padding: 7px 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 100%;
        font-size: 1.2em;
        background-color: #288277;
        color:white;

    }
}
.btn{
    display: flex;
    gap:10px;
    .reset-btn,.apply-btn{
        width:300px;
        --border-radius: 15px;
    }
    ion-button.reset-btn{
        --background-color:#248277 !important;
}

}
