
<div class="search">
  <ion-icon slot="icon-only" name="search" ></ion-icon>
  <input [(ngModel)]="searchQuery" (keyup)="onSearch($event)" (focus)="onInputFocus()" (blur)="onInputBlur()" (keypress)="onKeyPress($event)" type="search" placeholder="Search"/>

</div>

<div class="search-menu" *ngIf="searchResults.length > 0">  
  <ion-list >
  <ion-item *ngFor="let result of searchResults.slice(0, 5)"  (click)="gotodetails(result)"> 
    <div class="text">
      {{ result.name}} - {{result.brand }} 
    </div>
  </ion-item>
</ion-list>
</div>



