.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search ion-icon {
  font-size: 20px;
  color: #888;
}

.search input[type="search"] {
  border: none;
  outline: none;
  padding: 8px 10px;
  margin-left: 10px;
  width: 100%; /* Full width */
  font-size: 16px;
}

/* Style adjustments for search results */
.search-menu {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-top: 10px;

  
  position: absolute;
  top: 100%; /* Position the results directly below the search bar */
  left: 0;
  right: 0;
  z-index: 1000;
}

ion-item {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

ion-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  color: #333;
  font-size: 16px;
}

.text div {
  color: #666;
  font-size: 14px;
  margin-top: 4px;
}
