<ion-header  class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="discount" *ngIf="item.discount>0">
          {{item.discount+'%'}}
        </div>
        <div class="product-img">
          <img src = {{item.img}}/>
          
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="outer-wrapper">
      <ion-col size-md="12" >
        
        <div class="egypt" *ngIf="item.origin ==='Egypt'">100% Egyptian</div>
        <ion-item class="wrapper-1">
          <div class="item">
            <div class="item-name">{{item.name}}</div>
            <div class="purchase-container">
              <img  src="assets\people.png" class="purchase-icon"/>
              <div class="purchase-count">{{generalpurchase}}</div>
              <img  src="assets/clock.png" class="purchase-icon"/>
              <div class="purchase-count">{{last24hrs}}</div>
             </div>
          </div>
          <app-liked [item] = "item" slot = "end"></app-liked>
        </ion-item>
        <ion-item class="wrapper-2">
          <div class="quantity" slot="start">
            <ion-icon name="remove-outline" (click)="decreaseQuantity(item)"></ion-icon>

            <div class="rectangle">
              <div class="no">{{ item.quantity }}</div>
            </div>

            <ion-icon name="add-outline" (click)="increaseQuantity(item)"></ion-icon>
          </div>
          <div class="price" slot="end">EGP <span class="before" *ngIf="item.discount > 0">{{ item.price_before }}</span> {{ item.final_price }}</div>
        </ion-item>
        
        <div class="wrapper-3">
          <img class="vector" src="assets/vector-line.svg" />
          <div class="details">
            <div class="title">
              Description
            </div>
            <div class="content">
              {{item.long_disc}}
            </div>
            

          </div>

          <div class="more">
            <div class="title">
              Details
            </div>
          <ul class = "detail-list" [innerHTML] = " item.details"></ul>
          </div>

          
         
        
        </div>
       
      </ion-col>
        
    </ion-row>
        
    
  </ion-grid>
 
</ion-content>
<ion-footer class="ion-padding" class="ion-no-border">
  <div class="footer-wrapper">
    <div class="total-wrapper">
      <div class="title">Price Total</div>
      <div class="price">
        EGP {{ calculateTotalPrice() | number:'1.2-2' }}
      </div>
    </div>
   
      <app-addcart-btn class="btn" [item]="item"></app-addcart-btn>
  </div>
</ion-footer>
